* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.wrap {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 30%;
    height: 600px;
    background: rgba(33, 160, 215,0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: deepskyblue;
    font-size: 2em;
}

.login_id {
    margin-top: 20px;
    width: 80%;
}

.login_id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid white;
    outline: none;
}

.login_pw {
    margin-top: 20px;
    width: 80%;
}

.login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid white;
    outline: none;
}

.submit {
margin-top: 50px;
width: 80%;
}

.submit button {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, lightskyblue, royalblue);
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}