<!DOCTYPE HTML>
<html>
	<head>
		<title>capstone3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/assets/css/str_main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="user_main.html">프로그램 이름</a></h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon solid fa-home" href="user_main.html"><span>Home</span></a></li>
									<li><a class="icon fa-chart-bar" href="/templates/imgUpload.html"><span>이미지 업로드</span></a></li>
									<li><a class="icon solid fa-cog" href="/templates/cameraUpload.html"><span>실시간 검사</span></a></li>
									<li><a class="icon solid fa-retweet" href="/templates/list.html"><span>내역조회</span></a></li>
									<li><a class="icon solid fa-retweet" href="/templates/statistics.html"><span>통계</span></a></li>
									<li><a class="icon solid fa-sitemap" href=" "><span>로그아웃</span></a></li>
								</ul>
							</nav>

					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						계정 삭제	
					</div>
				</section>

			<!-- Footer -->

		<!-- Scripts -->
			<script src="/static/assets/js/str_jquery.min.js"></script>
			<script src="/static/assets/js/str_jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/str_browser.min.js"></script>
			<script src="/static/assets/js/str_breakpoints.min.js"></script>
			<script src="/static/assets/js/str_util.js"></script>
			<script src="/static/assets/js/str_main.js"></script>

	</body>
</html>
