<!DOCTYPE HTML>
<html>
	<head>
		<title>capstone3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/pho_main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<noscript><link rel="stylesheet" href="/static/assets/css/pho_noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Header -->
    <section id="header">
      <div class="acc_update">
       계정 변경
      </div>
    </section>

		<!-- One -->
			<section id="one" class="main style1">

			</section>

		<!-- Scripts -->
    <script src="/static/assets/js/pho_jquery.min.js"></script>
    <script src="/static/assets/js/pho_jquery.scrolly.min.js"></script>
    <script src="/static/assets/js/pho_browser.min.js"></script>
    <script src="/static/assets/js/pho_breakpoints.min.js"></script>
    <script src="/static/assets/js/pho_util.js"></script>
    <script src="/static/assets/js/pho_main.js"></script>

	</body>
</html>
