<!DOCTYPE HTML>
<html>
	<head>
		<title>capstone3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/aer_main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/aer_noscript.css" /></noscript>
	</head>
	<style>
		img {
			width: 60px; 
			height: 60px; 
			display: block;
		}
		.font{
			font-size: 11px; 
			font-weight: bold;
			text-align: center; 
			line-height: normal; 
			margin-top: 5px;
		}
	</style>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>프로그램 이름</h1>
						<nav>
							<ul>
                                <li><a href="/account"><img class="account" src="/static/assets/css/image/user.png" alt="계정 관리"><div class="font">계정 관리</div></a></li>&nbsp
                                <li><a href="/admin_list"><img class="admin_list" src="/static/assets/css/image/clipboard.png" alt="관리자 내역조회"><div class="font">관리자 내역조회</div></a></li>&nbsp
                                <li><a href="/admin_statistics"><img class="admin_statistics" src="/static/assets/css/image/bar-chart.png" alt="관리자 통계"><div class="font">관리자 통계</div></a></li>&nbsp
                            </ul>
						</nav>
					</header>

		

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>
