<!DOCTYPE HTML>
<html>
	<head>
		<title>capstone3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/assets/css/str_main.css" />
	</head>
  <style>
    .con1 {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content:space-between;
        align-content: center; 
        align-items: stretch;
    }
    .bnt{
      
      height: 40px; 
      width: 60%;
      margin: 5px; 
      text-align: center;
      line-height: 10px;
    }
    .con2 {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap; 
      justify-content:space-between;
      align-content: center; 
      align-items: stretch;
    
    }
    #videoElement {
      width: 700px;
      height: 525px;
      background-color: #666;
    }
    .imgsrc{ 
        width:100%;
        height:100%;
        object-fit:contain;
    }
    
  </style>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
              <h1 id="logo"><a href="/user_main">프로그램 이름</a></h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon solid fa-home" href="/user_main"><span>Home</span></a></li>
									<li><a class="icon fa-chart-bar" href="/imgUpload"><span>이미지 업로드</span></a></li>
									<li><a class="icon solid fa-cog" href="/cameraUpload"><span>실시간 검사</span></a></li>
									<li><a class="icon solid fa-retweet" href="/list"><span>내역조회</span></a></li>
									<li><a class="icon solid fa-retweet" href="/statistics"><span>통계</span></a></li>
									<li><a class="icon solid fa-sitemap" href="/logout"><span>로그아웃</span></a></li>
								</ul>
							</nav>

					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">					
	          <div class="con1" style="width:650px; height:680px; border:1px solid white;">
              <div class="camera">
                <video  id="myVideo" width="600" height="400" style="border: 1px solid #ddd;"></video><br>

                <input type=button value="START" onclick="{getVideo()}">
                <input type=button value="STOP" onclick="{stopVideo()}"><br>
              </div>
              <div style="display: inline-flex; flex-direction: row;">
              </div>
            </div>
            <div class="con2">
              <div class="pre_img"style="width:700px; height:700px; border:1px solid green; ">
              이전 이미지<br>
              <canvas id="myCanvas" width="640" height="640" style="border: 1px solid #ddd; display: none"></canvas>
              <canvas id="resultCanvas" width="640" height="640" style="border: 1px solid #ddd;"></canvas>
          
              </div>
              <div class="pre_result"style="width:500px; height:340px; border:1px solid green;">
                이전 이미지 결과
                <table >
                  <th scope="col">검사 번호</th>
                  <th scope="col">일련 번호</th>
                  <th scope="col">날짜</th>
                  <th scope="col">부품 종류</th>
                  <th scope="col">불량 유형</th>
                  <th scope="col">불량 여부</th>
                  <tr id="camera_table">
                  </tr>
                </table>
              </div>
          </div>
        </div>
        </section>

			<!-- Footer -->

		<!-- Scripts -->
    <script>
      var myVideoStream = document.getElementById('myVideo')     // make it a global variable
      var myStoredInterval = 0
      
      function getVideo(){
        navigator.getMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        navigator.getMedia({video: true, audio: false},
                          
            function(stream) {
            myVideoStream.srcObject = stream   
            myVideoStream.play();
          }, 
                          
          function(error) {
          alert('webcam not working');
          });
        
        setTimeout(() => takeSnapshot(), 1);
        clearInterval(myStoredInterval)
        myStoredInterval = setInterval(function(){                                                                    
            takeSnapshot()
        }, 3000);       
      }

      function stopVideo(){
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            myVideoStream.srcObject = null;
          });
        } 
        clearInterval(myStoredInterval)
      }

      function takeSnapshot() {
        let target=document.querySelector("#camera_table");
					target.innerHTML = "";

        const myCanvasElement = document.getElementById('myCanvas');
        const myCTX = myCanvasElement.getContext('2d');
        
        const reCanvasElement = document.getElementById('resultCanvas');
        const reCTX = reCanvasElement.getContext('2d');

        myCTX.drawImage(myVideoStream, 0, 0, myCanvasElement.width, myCanvasElement.height);
        const dataURL = myCanvasElement.toDataURL('image/png');

        var blobBin = atob(dataURL.split(',')[1]);	// base64 데이터 디코딩
        var array = [];
        for (var i = 0; i < blobBin.length; i++) {
          array.push(blobBin.charCodeAt(i));
        }
        var file = new Blob([new Uint8Array(array)], {type: 'image/png'});	// Blob 생성
        var formData = new FormData();	// formData 생성
        formData.append("file", file);

        for (var key of formData.keys()) {
          console.log(key);
        }
        for (var value of formData.values()) {
          console.log(value);
        }

        $.ajax({
          type:"POST",
          url: "/realtimeUpload",
          processData: false,
          contentType: false,
          data: formData,
          success: function(data){
            var image = new Image();
            image.onload = function() {
              reCTX.drawImage(image, 0, 0, reCanvasElement.width, reCanvasElement.height);
            };
            image.src = "data:image/png;base64," + data.code;
  					let cont = `
							<tr>
								<td>${data.inspection_number}</td>
								<td>${data.part_id}</td>
								<td>${data.date}</td>
								<td>${data.part_name}</td>
								<td>${data.part_category}</td>
								<td>${data.part_judge}</td>
							</tr>
						`;	
            target.insertAdjacentHTML("beforeend", cont);

          },
          err: function(err){
            console.log("err: ", err)
          }
        })

        
     }
    
      </script>      
			<script src="/static/assets/js/str_jquery.min.js"></script>
			<script src="/static/assets/js/str_jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/str_browser.min.js"></script>
			<script src="/static/assets/js/str_breakpoints.min.js"></script>
			<script src="/static/assets/js/str_util.js"></script>
			<script src="/static/assets/js/str_main.js"></script>
      <script src="/static/assets/js/host.js"></script>

	</body>
</html>
