
<!DOCTYPE HTML>
<html>
	<head>
		<title>capstone3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/str_main_upload.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	</head>
	
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="user_main.html">프로그램 이름</a></h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon solid fa-home" href="user_main.html"><span>Home</span></a></li>
									<li><a class="icon fa-chart-bar" href="/templates/imgUpload.html"><span>이미지 업로드</span></a></li>
									<li><a class="icon solid fa-cog" href="/templates/cameraUpload.html"><span>실시간 검사</span></a></li>
									<li><a class="icon solid fa-retweet" href="/templates/list.html"><span>내역조회</span></a></li>
									<li><a class="icon solid fa-retweet" href="/templates/statistics.html"><span>통계</span></a></li>
									<li><a class="icon solid fa-sitemap" href=" "><span>로그아웃</span></a></li>
								</ul>
							</nav>

					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<!-- https://velog.io/@minkyeong-ko/HTMLCSSJS-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%85%EB%A1%9C%EB%93%9C-%ED%8C%8C%EC%9D%BC%EC%9D%B4%EB%A6%84-%EB%82%98%ED%83%80%EB%82%B4%EA%B8%B0-%ED%99%94%EB%A9%B4%EC%97%90-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EB%B3%B4%EC%97%AC%EC%A3%BC%EA%B8%B0 -->
					<div class="container">
						<div class="image-upload" id="image-upload">
							<form method="POST" enctype="multipart/form-data">
								<div class="button">
									<label for="chooseFile" >
										👉 CLICK HERE! 👈
									</label>
								</div>
								<input type="file" id="chooseFile" name="chooseFile" accept="image/*">
							</form>
				
							<div class="fileContainer">
								<div class="fileInput">
									<p>FILE NAME: </p>
									<p id="fileName"></p>
								</div>
								<div class="buttonContainer">
									<div class="submitButton" id="submitButton">SUBMIT</div>
								</div>
							</div>
						</div>
						
						<div class="image-show" id="image-show"></div>
					</div>
				</section>

			<!-- Footer -->

		<!-- Scripts -->
			<script>
				var submit = document.getElementById('submitButton');
				submit.onclick = upload; 
				
				function upload() {
				const imageInput = $("#chooseFile")[0];

				const file = imageInput.files[0];
				var name = document.getElementById('fileName');
				name.textContent = file.name;
				console.log("chooseFile: ", imageInput.files)

				if(imageInput.files.length === 0){
					alert("파일은 선택해주세요");
					return;
				}

				const formData = new FormData();
				formData.append("image", imageInput.files[0]);
				for (var key of formData.keys()) {
					console.log(key);
				}
				for (var value of formData.values()) {
					console.log(value);
				}


				$.ajax({
					type:"POST",
					url: "/upload",
					processData: false,
					contentType: false,
					data: formData,
					success: function(rtn){
						console.log("rnt: ", rnt)
					},
					err: function(err){
						console.log("err: ", err)
					}
				})
				}
			</script>		
			<script src="/static/assets/js/str_jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/str_browser.min.js"></script>
			<script src="/static/assets/js/str_breakpoints.min.js"></script>
			<script src="/static/assets/js/str_util.js"></script>
			<script src="/static/assets/js/str_main.js"></script>

	</body>
</html>