<!DOCTYPE HTML>
<html>
	<head>
		<title>capstone3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/str_main.css" />
		<script src="/static/assets/js/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
				integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
				integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
				integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
				crossorigin="anonymous" referrerpolicy="no-referrer" />
	  	<link rel="stylesheet" href="/static/assets/css/jquery-ui.css">
	  	<script src="/static/assets/js/jquery-ui.min.js"></script>
	</head>
	<style>
		div.paging {
			width: 100%;
			display: inline-flex;
			align-items: center;
			margin-top: 20px;
			justify-content: center;
		}

		div.paging>i,
		div.paging>div.pages {
			margin: 0 10px;
		}

		div.paging>i,
		div.paging>div.pages>span {
			margin: 0 3px;
			cursor: pointer;
		}

		span.active {
			color: #6ad1ed;
			font-weight: bold;
		}

	</style>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/user_main">프로그램 이름</a></h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon solid fa-home" href="/user_main"><span>Home</span></a></li>
									<li><a class="icon fa-chart-bar" href="/imgUpload"><span>이미지 업로드</span></a></li>
									<li><a class="icon solid fa-cog" href="cameraUpload"><span>실시간 검사</span></a></li>
									<li><a class="icon solid fa-retweet" href="/list"><span>내역조회</span></a></li>
									<li><a class="icon solid fa-retweet" href="/statistics"><span>통계</span></a></li>
									<li><a class="icon solid fa-sitemap" href=" "><span>로그아웃</span></a></li>
								</ul>
							</nav>

					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container" style="display: flex; flex-direction: column; align-items : center;">
						<div style="width: 85%; margin-top: 10px;">
							검사결과(임시 입니다 아마 페이지 만들고 넣을라면 jinja2로 쓴 부분은 javascript로 코드 다시 짜서 넣어야 할거에요)
							<table id="result">
							<tr>
							   <th scope="col">검사 번호</th>
							   <th scope="col">일련 번호</th>
							   <th scope="col">날짜</th>
							   <th scope="col">부품 종류</th>
							   <th scope="col">불량 유형</th>
							   <th scope="col">상세조회</th>
							</tr>
							{%if list == ['no']%}
							<script>
								alert('검색 결과가 없습니다.')
								window.location.href="./list"
							</script>
							{%else%}
							{% for item in list %}
							<tr>
								<td><a href="javascript:popup()" onclick="abc(this)">{{item.inspection_number}}</a></td>
								<td><option>{{item.part_id}}</option></td>
								<td><option>{{item.date}}</option></td>
								<td><option>{{item.part_name}}</option></td>
								<td><option>{{item.part_category}}</option></td>
								<td><option><img src="/static/assets/css/image/magnifying-glass-search.png" width="20px" height="20px"></option></td>
							</tr>
							{% endfor %}
							{%endif%}
							</table>
						</div>
					
						<div>
							<form method="post" action="" style="display: inline-flex; flex-direction: row; margin: 10px;">
								<select id="selectbox" name="selectbox" style="width: 130px; height: 40px;" onchange="filtering(this)">
									<option value="none" style="text-align:center;">-----선택-----</option>
									<option value="date" style="text-align:center;">검사 날짜</option>
									<option value="part_name" style="text-align:center;">부품</option>
									<option value="part_id" style="text-align:center;">일련번호</option>
									<option value="part_category" style="text-align:center;">불량유형</option>
								</select>
								&nbsp 
								<input class= textform type="text" name="search_box" id = "search_box" autocomplete="off" placeholder="필터를 선택하세요." required style="width: 300px; height: 40px; text-align:center;">
								&nbsp 
								<input class = submit type="submit" value= "검색" style="width: 100px; height: 40px;">

							</form>
						</div>

						<div class="paging">
							<i class="fa-solid fa-angles-left" id="first_page"></i>
							<i class="fa-solid fa-angle-left" id="prev_page"></i>
							<div class="pages">
							<span class="active">1</span>
							<span>2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
							</div>
							<i class="fa-solid fa-angle-right" id="next_page"></i>
							<i class="fa-solid fa-angles-right" id="last_page"></i>
						</div>
					</div>
				</section>

		<!-- Scripts -->
			<script>
				function abc(tag){
					let num = tag.parentNode.parentNode.querySelector('td').textContent;
					console.log(num);

					fetch("http://127.0.0.1:5000"+'/detail_num/'+num, {
						"method": "GET"
					})
					.then(res => res.json())
					.then((res) => {
						console.log('data',res['data']);
						sessionStorage.setItem("dnum",JSON.stringify(res['data']['0']));
						console.log(JSON.parse(sessionStorage.getItem('dnum')));
						}
					)
				}
				function popup(){//상세 조회
					var url = "/detail";
					var name = "detail list";
					var option = "width = 1000, height = 500, top = 100, left = 200, location = no"
					window.open(url, name, option);
				}

				function filtering(obj){ //필터링
					if ( obj.value==="date" ) {
						$("#search_box").datepicker({language: "ko"});
					} else {
						$("#search_box").datepicker('destroy');//date이외일때도 자꾸 달력이 떠서 수정할 예정입니다!
					}

					var opt = document.getElementById("selectbox");
					var opt_val = opt.options[opt.selectedIndex].value;
					var info = ""

					if (opt_val=='date'){
						info = "날짜를 입력하세요.";
					} 
					else if (opt_val=='part_name'){
						info = "부품 이름을 입력하세요.";
					} 
					else if (opt_val=='part_id'){
						info = "부품의 일련번호를 입력하세요.";
					}
					else if (opt_val=='part_category'){
						info = "부품 유형을 입력하세요.";
					}
					document.getElementById("search_box").placeholder = info;
   				}
			</script>
			<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
				//페이징
				import axios from 'axios';
				let resultData = [];

				const countPerPage = 10; // 페이지당 데이터 건수
				const showPageCnt = 5; // 화면에 보일 페이지 번호 개수

				$(function() {
					const resultUrl = '/list';
					axios.get(resultUrl)
						.then(res => {
							resultData = res.data;
							// 별도의 서버에 페이지별로 요청하는 게 아니기 때문에
							// 데이터를 한 번에 가져와서 페이지별로 화면에 출력
							setTable(1);
							setPaging(1);
						})
						.catch(err => console.error(err))
						.then(() => {
						});

					$(document).on('click', 'div.paging>div.pages>span', function() {
						if (!$(this).hasClass('active')) {
						$(this).parent().find('span.active').removeClass('active');
						$(this).addClass('active');

						setTable(Number($(this).text()));
						}
					});

					$(document).on('click', 'div.paging>i', function() {
						const totalPage = Math.floor(resultData.length / countPerPage) + (resultData.length % countPerPage == 0 ? 0 : 1);
						const id = $(this).attr('id');
						//console.log(id);

						if (id == 'first_page') {
							setTable(1);
							setPaging(1);
						} else if (id == 'prev_page') {
							let arrPages = [];
							$('div.paging>div.pages>span').each(function(idx, item) {
								arrPages.push(Number($(this).text()));
							});
							
							const prevPage = _.min(arrPages) - showPageCnt;
							setTable(prevPage);
							setPaging(prevPage);
						} else if (id == 'next_page') {
							let arrPages = [];
							$('div.paging>div.pages>span').each(function(idx, item) {
								arrPages.push(Number($(this).text()));
							});
							
							const nextPage = _.max(arrPages) + 1;
							setTable(nextPage);
							setPaging(nextPage);
						} else if (id == 'last_page') {
							const lastPage = Math.floor((totalPage - 1) / showPageCnt) * showPageCnt + 1;
							setTable(lastPage);
							setPaging(lastPage);
						}
					});
				});

				/**
				 * 테이블에 데이터를 세팅합니다.
				 * @param {int} pageNum - Page Number
				 */
				function setTable(pageNum) {
					$('#result>tbody').empty();

					// filtering data
					const filteredData = _.slice(resultData, (pageNum - 1) * countPerPage, pageNum * countPerPage);
					//console.log(filteredData);

					let sTbodyHtml = '';
					for (let i = 0; i < filteredData.length; i++) {
						sTbodyHtml += '<tr>';
						sTbodyHtml += '  <td class="center">' + filteredData[i].id + '</td>';
						sTbodyHtml += '  <td class="center">' + filteredData[i].userId + '</td>';
						sTbodyHtml += '  <td>' + filteredData[i].title + '</td>';
						sTbodyHtml += '  <td class="center"><input type="checkbox" ' + (filteredData[i].completed ? 'checked' : '') + ' onclick="return false" /></td>';
						sTbodyHtml += '</tr>';
					}
					$('#result>tbody').append(sTbodyHtml);
				}

				/**
				 * 페이징 정보를 세팅합니다.
				 * @param {int} pageNum - Page Number
				 */
				function setPaging(pageNum) {
					const currentPage = pageNum;
					const totalPage = Math.floor(resultData.length / countPerPage) + (resultData.length % countPerPage == 0 ? 0 : 1);
					//console.log(currentPage, totalPage);

					showAllIcon();

					if (currentPage <= showPageCnt) {
						$('#first_page').hide();
						$('#prev_page').hide();
					}
					if (
						totalPage <= showPageCnt ||
						Math.floor((currentPage - 1) / showPageCnt) * showPageCnt + showPageCnt + 1 > totalPage
					) {
						$('#next_page').hide();
						$('#last_page').hide();
					}

					let start = Math.floor((currentPage - 1) / showPageCnt) * showPageCnt + 1;
					let sPagesHtml = '';
					for (const end = start + showPageCnt; start < end && start <= totalPage; start++) {
						sPagesHtml += '<span class="' + (start == currentPage ? 'active' : '') + '">' + start + '</span>';
					}
					$('div.paging>div.pages').html(sPagesHtml);
				}

				function showAllIcon() {
					$('#first_page').show();
					$('#prev_page').show();
					$('#next_page').show();
					$('#last_page').show();
				}
			</script>	
			<script src="/static/assets/js/str_jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/str_browser.min.js"></script>
			<script src="/static/assets/js/str_breakpoints.min.js"></script>
			<script src="/static/assets/js/str_util.js"></script>
			<script src="/static/assets/js/str_main.js"></script>

	</body>
</html>
