<!DOCTYPE HTML>
<html>
	<head>
		<title>capstone3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/dim_main.css" />
		<script src="https://kit.fontawesome.com/a71aac3494.js" crossorigin="anonymous"></script>
		<noscript><link rel="stylesheet" href="/static/assets/css/dim_noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
				
					<header id="header">
						<div class="logo">
							<span i class="fa-solid fa-ship fa-2x" ></i></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>User Login</h1>
							</div>
						</div>
						<nav>
							<ul>
			
								<li><a href="https://kauth.kakao.com/oauth/authorize?client_id=	32e62fdd5c6f676f20e8792d524c06b9&redirect_uri=http://localhost:5000/oauth&response_type=code"" style="color:yellow">Kakao</a></li>
								<!--href 주소 네이버로 바꾸기-->
								<li><a href="javascript:kakaoLogin();" style="color:greenyellow">Naver</a></li>
								
							</ul>
						</nav>
					</header>
				
				
					<header id="header">
						<div class="logo">
							<span i class="fa-solid fa-ship fa-2x" ></i></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Admin Login</h1>
							</div>
						</div>
						<nav>
							<ul>
								
								<li><a href=admin_login.html>Admin</a></li>
							</ul>
						</nav>
					</header>
				
			</div>
		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
		<script>
		window.Kakao.init("32e62fdd5c6f676f20e8792d524c06b9");
        function kakaoLogin(){
            window.Kakao.Auth.login({
                scope:'profile_nickname, account_email',
                success: function(authObj){
                    console.log(authObj);
                    window.Kakao.API.request({
                        url:'/v2/user/me',
                        success: res=>{
                        const kakao_account=res.kakao_account;
                        console.log(kakao_account);
                        }
                    });
                }
            });
		}
		</script>
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/browser.min.js"></script>
		<script src="/static/assets/js/breakpoints.min.js"></script>
		<script src="/static/assets/js/util.js"></script>
		<script src="/static/assets/js/main.js"></script>
	</body>
</html>
